ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0a465;
}

li {
    float: left;
}

.class_container ul li.active-page {
    background-color: rgb(174, 190, 152);
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: brown;
    font-weight: bold;
}

.avatar_container {
    background-color: rgb(154, 123, 79);
    position: relative;
    display: inline-block;
}

.tooltip {
    width: 30%;
    position: relative;
    display: inline-block;
    margin: 15px;
}

.tooltip img {
    border-radius: 50%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.about_us {
    color: white;
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 60px;
    font-family: 'Cormorant Garamond', serif;
}

.text_and_image_container {
    width: 100%;
    position: relative;
    float: left;
    display: block;
}

.text_container {
    width: 70%;
    position: relative;
    float: right;
    font-family: 'Kiwi Maru', serif;
    display: block;
    text-align: left;
}

.image_container {
    width: 30%;
    position: relative;
    float: left;
    display: block;
}

.current_owner {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 30px;
}

.footer-basic {
    margin-top: 25px;
    padding: 0px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 23px;
    color: #aaa;
    margin-bottom: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

#thumbnail {
    display: block;
    width: 100%;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}

.nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
}

.nav-toggle:hover img {
    opacity: 0.6;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}

@media screen and (max-width:720px) {
    nav {
        height: 0;
        width: 50%;
        overflow: hidden;
    }
    li {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
    }
    li a {
        font-size: 1.4rem;
    }
    .nav-toggle {
        display: block;
    }
}