nav ul li {
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
}

nav {
    background-color: #d0a465;
}

.class_container ul li.active-page {
    background-color: rgb(174, 190, 152);
}

nav ul li a {
    color: brown;
}

.class_container {
    width: 100%;
    height: 100px;
    background-color: #d0a465;
    border: 2px solid black;
}

a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: blue;
}

.welcome {
    color: white;
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 80px;
    font-family: 'Cormorant Garamond', serif;
}

.text_and_image_container {
    width: 100%;
    position: relative;
    float: right;
    display: block;
    border: 2px solid;
}

.text_container {
    width: 60%;
    position: relative;
    float: left;
    display: block;
}

.image_container {
    width: 40%;
    position: relative;
    float: right;
    display: block;
}

.text1 {
    color: burlywood;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 80px;
    font-weight: bold;
}

.text2 {
    font-style: italic;
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
}

.best_seller {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

.here_we_have {
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text_and_image_container2 {
    width: 100%;
    position: relative;
    float: left;
    display: block;
    border: 2px solid;
}

.text_container2 {
    width: 70%;
    position: relative;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center;
}

.image_container2 {
    width: 30%;
    position: relative;
    float: left;
    display: block;
}

.text3 {
    color: burlywood;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.text4 {
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

button {
    margin: auto;
    display: block;
    background-color: brown;
    color: white;
    padding: 5px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
}

.footer-basic {
    margin-top: 25px;
    padding: 0px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 23px;
    color: #aaa;
    margin-bottom: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

img {
    display: block;
}

@media screen and (max-width:600px) {
    .text-containter,
    .image-containter {
        width: 100%;
    }
    .text-containter2,
    .image-containter2 {
        width: 100%;
    }
    .text-container,
    .text-container2 {
        text-align: left;
    }
    .image-container,
    .image-container2 {
        text-align: center;
    }
    .text1,
    .text3 {
        font-size: 45px;
    }
    .text2,
    .text4 {
        font-size: 35px;
    }
    nav {
        text-align: left
    }
}

@media screen and (max-width: 480px) {
    .text-containter,
    .image-containter {
        width: 100%;
    }
    .text-containter2,
    .image-containter2 {
        width: 100%;
    }
    .text-container,
    .text-container2 {
        text-align: left;
    }
    .image-container,
    .image-container2 {
        text-align: center;
    }
    .text1,
    .text3 {
        font-size: 40px;
    }
    .text2,
    .text4 {
        font-size: 30px;
    }
    nav {
        text-align: left
    }
}