ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0a465;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: brown;
    font-weight: bold;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half {
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count {
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart {
    padding: 3% 0;
}

.cart-items+.cart-items {
    padding: 2% 0;
}

.price-details h6 {
    padding: 3% 2%;
}

.class_container ul li.active-page {
    background-color: rgb(174, 190, 152);
}

.class_container {
    width: 100%;
    height: 70px;
    background-color: #d0a465;
    border: 2px solid black;
}

.footer-basic {
    margin-top: 25px;
    padding: 0px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 23px;
    color: #aaa;
    margin-bottom: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

#thumbnail {
    display: block;
    width: 100%;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}

.nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
}

.nav-toggle:hover img {
    opacity: 0.6;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}

@media screen and (max-width:0px) {
    nav {
        height: 0;
        /* width: 100%; */
        overflow: hidden;
        position: absolute;
    }
    li {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
    }
    li a {
        font-size: 1.4rem;
    }
    .nav-toggle {
        display: block;
    }
    .class_container {
        display: block;
    }
}